.notice {
    background-color: lightgrey;
    border-style: solid;
    border-radius: 4px;
    border-width: 3px;
    padding: 10px;
    width: 40%;
    color: green;
    border-color: green;
}

.fail {
    color: red;
    border-color: red;
}

.showMe {
    display: '';
}

.hideMe {
    display: none;
}

.singleBlog {
    border: 1px solid gray;
    margin: 0.25em 0;
    padding-top: 10px;
    padding-left: 2px;
}

button {
    margin-left: 0.5em;
}